.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    min-width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 1000px;
    padding:10px;
}

.projects div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1e2126;
    border-radius: 8px;
    max-width: 350px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.projects div span {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
}

.projects div span img {
    width: 25px;
    height: 25px;
}


.projects button {
    column-gap: 10px;
    width: fit-content;
}

.projects button:hover {
    background-image: linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139));
}

.projects div p {
    width: fit-content;
    min-height: 30px;
    max-height: 30px;
    text-shadow: 0 0 2px #333;
    padding: 10px;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #282c34;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #1e2126;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #797979
}

@media (max-width: 1366px) {

    .projects div p {
        font-size: 14px;
    }

    .projects button {
        height: 30px;
        width: fit-content;
        font-size: 12px;
    }
}

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    letter-spacing: 2px;
    background: linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139)) 0 100%/0 3px no-repeat;
    animation: l2 2s linear infinite;
}
.loader:before {
    color: #b6b6b6;

    /*background: -webkit-linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139));*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

@keyframes l2 {to{background-size: 100% 3px}}