.besideName {
    font-size: 18px;
    font-weight: bold;
}


.buttons {
    display: flex;
    column-gap: 10px;
    position:fixed;
}

.language {
    display: flex;
    border-radius: 5px;
    background-color: #282c34;
}


.language button {
    border-radius: 0;
    width: 60px;
    background: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language button:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.language button:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.language button:hover {
    background-color: #282c34;
    color: #ececec;

}

.language .active {
    /*background-image: linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139));*/
    background: #282c34;
    font-weight: bold;
    border: 5px solid #282c34;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    color: #ececec;
}

a {
    text-decoration: none;
    color: #ececec;
}