.topbar {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #1e2126;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 50px;
}

.topbar span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: rgba(204, 204, 204, 0.57);
}

.topbar span div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.topbar span div besideName {
    font-size: 18px;
    font-weight: bold;
}

.topbar span name{
    font: 700 38px 'Roboto', sans-serif;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topbar span role {
    font: 400 12px 'Roboto', sans-serif;
}

.buttons {
    display: flex;
    column-gap: 10px;
    position:fixed;
}

.buttons button:hover {
    background-image: linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139))
}

.language {
    margin-left: 75%;
    display: flex;
    border-radius: 5px;
    background-color: #282c34;
}

.language button {
    border-radius: 0;
    width: 60px;
    background: transparent;

}

.language button:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.language button:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.language .active {
    background-image: linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139));
    font-weight: bold;
    border: 5px solid #282c34;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    color: #ececec;
}

@media (max-width: 1366px) {
    .topbar {
        height: 30px;
    }

    .topbar span name {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .language {
        margin-left: 68%;
    }
}

@media only screen and (max-width: 768px) {
    .topbar {
        padding:10px;
        position: relative;
    }

    .exposeButtons {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
    }

    .fas {
        font-size: 20px;
        color: #d5d5d5;
    }

    .buttons {
        flex-direction: column;
        display: none;
        width: fit-content;
        padding: 10px;
        border-radius: 8px;
        background-color: #1e2126;
        row-gap: 10px;
        position: absolute;
        top: 40px;
        left: -5px;
    }


    .topbar span name {
        font-size: 24px;
        letter-spacing: 1px;
    }

    .language {
        margin-left: 0;
        height: 40px;
    }

    .language button {
        width: 50px;
    }

    .language .active {

        width: 50px;
        height: 40px;
    }
}