.letter {
    display: flex;
    padding: 10px;
    /*background-color: #1e2126;*/
    width: 760px;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.letter p {
    max-width: 600px;
    color: #d5d5d5;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.76);
}

.letter span {
    display: flex;
    flex-direction: column;
    text-align: justify;
}



@media (max-width: 1366px) {
    .letter {
        width: 730px;
        height: 120px;
        margin-top: 10px;
    }

    .letter p {
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    .letter {
        width: 700px;
        height: 110px;
        margin-top: 20px;
    }

    .letter p {
        font-size: 12px;
    }
}