.experience {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 10px;
    border-radius: 8px;
    background-color: #1e2126;
    padding: 10px 10px 5px 10px;
}