.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 94.75%;
    border-radius: 8px;
    background-color: #1e2126;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.experience div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
}

.experience span {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
    row-gap: 10px;
    color:white;
}

.experience span p {
    background-color: #1e2126;
    padding: 3px;
    min-width: 70px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

a {
    margin-top: 10px;
    color: #0ad4ef;
    text-decoration: none;
}

.experience button {
    background-color: #1e2126;
    width: 190px;
    column-gap: 15px;
    min-height: 40px;
    max-height: 40px;
    justify-content: space-around;
}

.experience button:hover {
    background-color: #282c34;
    transition: 0.3s;
    outline: 1px solid #0ad4ef;
}
