.experience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 650px;
}

.experience label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #1e2126;
    border-radius: 8px 8px 0 0;
    min-width: 40px;
    font-weight: bold;
    width: fit-content;
    padding: 5px 10px 5px 10px;
}

.experience content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:650px;
    height: 190px;
    column-gap: 10px;
    border-radius: 0 8px 8px 8px;
    background-color: #1e2126;

}

.experience language {
    display:flex;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
    row-gap: 10px;
    padding: 10px 10px 0 10px;
    color:white;
}

.experience language img {
    width: 60px;
    height: 60px;
}

.experience language p {

    padding: 3px;
    min-width: 70px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}


@media (max-width: 1366px) {
    .experience {
        width: 560px;
    }

    .experience content{
        column-gap: 5px;
        row-gap: 5px;
        width: 560px;
        height: 155px;
    }

    .experience language {
        padding: 5px;
        row-gap: 5px;
        height: 80px;
    }

    .experience language img {
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }

    .experience span p {
        font-size: 12px;
    }
}