:root {
    font-family: Roboto, sans-serif;
}

.App {
    text-align: center;
    background-color: #282c34;
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85.65%;
    color: #b2b2b2;
}

.App footer {
    width: 98.95%;
    background-color: #1e2126;
    padding: 10px;
    color: #7a7a7a;
    border-bottom: 3px solid;
    border-image: linear-gradient(45deg, rgb(101, 3, 192), rgb(241, 5, 139)) 1;
    font-size: 14px;
    position: fixed;
}




@media (max-width: 1366px) {
    .content {
        height: 83%;
    }
}

@media (max-width: 1280px) {
    .content {
        height: 81.5%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .App {
        height: 793px;
        row-gap: 0;
        position: relative;
        overflow: hidden;
    }

    .content {
        height: 800px;
        overflow-x: auto;
    }

    .App footer {
        width: 94.7%;
        position: absolute;
        bottom:0;

    }

}